* {
    margin: 0;
    padding: 0;
    font-family: helvetica, serif;
    box-sizing: border-box;
    text-shadow: black 1px 1px;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f1f1f;
}